.wd-heading {
    font-size: 20px;
}

.wd-bookmarks-title {
    padding-bottom: 12px;
}

.wd-handle {
    color: rgb(110, 118, 125);
}

.wd-post-content {
    margin-left: 12px;
    max-width: 506px;
    font-size: 15px;
    padding-top: 8px;
}

.wd-bookmark-picture {
    width: 504px;
    height: 264px;
    margin-left: 12px;
    margin-bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: solid rgb(38, 39, 40);
}

.wd-bookmark-picture-content {
    width: 480px;
    margin-top: -5px;
    margin-left: 12px;
    border: solid rgb(38, 39, 40);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 12px;
}

.wd-bookmark-picture-content-grey {
    color: rgb(110, 118, 125);
    padding-top: 5px;
}

.wd-symbols {
    padding-left: 12px;
}

.wd-icons-text {
    text-decoration: none;
    color: rgb(110, 118, 125);
    padding-left: 12px;
    padding-right: 100px;
}

.wd-heart{
    color: rgb(255, 121, 121);
}