#text-field-search {
    background: url("search.png");
    background-repeat:no-repeat;
    background-position-y: 50%;
    background-position-x: 1.5%;
    background-color: #3a3a3a;
    border-radius: 50px;
    border: rgb(47, 51, 54);
    float: left;
    margin: 10px;
    padding: 12px 12px 12px 60px;
    width: 87%;
}

.wd-search-border {
    border: solid;
    border-left-color: rgb(47, 51, 54);
    border-right-color: rgb(47, 51, 54);
    border-top-color: rgb(47, 51, 54);
    border-bottom: none;
    border-width: 0.8px;
}

.wd-vertical-border {
    border: solid;
    border-left-color: rgb(47, 51, 54);
    border-right-color: rgb(47, 51, 54);
    border-top: none;
    border-bottom: none;
    border-width: 0.8px;
}

.wd-settings-icon-location {
    float: right;
    vertical-align: middle;
    margin-top: 14px;
    margin-left: 12px;
    margin-right: 10px;
}

.wd-settings-icon {
    height: 30px;
}

.wd-container {
    width: 16.66%;
}

.wd-dimension {
    color: rgb(110, 118, 125);
    font-size: 15px;
    border-style: solid;
    border-color: black;
    text-align: center;
    padding: 16px;
}

.wd-highlighted {
    color: rgb(29,161,242);
    border-bottom-color: rgb(29,161,242);
}

.wd-grey-space {
    height: 10px;
    background-color: #171717;
}

.wd-suggested-posts {
    padding-left: 16px;
    border: solid;
    border-color: rgb(47, 51, 54);
    border-width: 0.8px;
    margin-top: -1px;
    padding-top: 12px;
    padding-bottom: 15px;
}

.wd-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.wd-topic {
    font-size: 13px;
}

.wd-time {
    padding-left: 10px;
}

.wd-suggested-posts-image {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    margin-right: 16px;
}

.wd-tuiter-button {
    margin-top: 10px;
    border-radius: 25px;
    background-color: rgb(29 161 242);
    border-color: rgb(29 161 242);
}

.wd-follow-button {
    border-radius: 25px;
    border-color: white;
    background-color: white;
    color: rgba(23,23,28,255);
    font-weight: bold;
}

.wd-follow-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.form-control {
    border-color: #222226;
    background-color: #222226;
    color: #60666d;
}

.has-search .form-control {
    padding-left: 2.375rem;
    border-radius: 25px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.wd-top-spacing {
    margin-top: 10px;
}

.nav-link {
    color: #636a70;
}

.nav-link.active{
    color: white;
    
}

.wd-nav-active-border {
    border-style: solid;
    border-top-color: black;
    border-left-color: black;
    border-right-color: black;
    border-bottom-color: rgb(29 161 242);
    border-bottom-width: 3px;
}

.wd-text-grey {
    color: rgb(110, 118, 125);
}

.wd-for-you-posts-image {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    margin-left: 16px;
}

.card-body {
    border: solid;
    border-color: rgba(0,0,0,.125);
    border-width: 1px;
}

.card-title {
    color: white;
}

.list-group-item {
    background-color: black;
    color: white;
}

.list-group-item.active{
    background-color: black;
    border: none;
}

.wd-group-list-height {
    height: 50px;
}

.wd-list-group-who-to-follow {
    background-color: rgba(23,23,28,255);
}

.wd-times-avatar {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    padding-right: 5px;
}

.wd-saturn {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    padding-left: 5px;

}

.wd-border-center {
    border: solid;
    border-width: 0.5px;
    border-color: #53595f;
    border-top-color: black;
    border-bottom-color: black;
}


