body {
    background-color: black;
    color: white;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 12px;
    font-family: Helvetica, serif;
}

.wd-div-dimensions {
    padding-top: 12px;
    padding-bottom: 15px;
}

.wd-horizontal-line {
    height: 1px;
    background-color: rgb(38, 39, 40);
    margin-top: 20px;
    margin-bottom: 20px;
}

.wd-float-done {
    clear: both;
}

.wd-float-left {
    float: left;
}

.wd-float-right {
    float: right;
}

.wd-tiny-grey-text {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

/*Navigation sidebar*/
.wd-tuiter-button {
    margin-top: 10px;
    border-radius: 25px;
}

.wd-icon-spacing {
    margin-top: 2.5px;
    margin-right: 10px;
}

/*Post Summary*/
.wd-grey-text {
    color: rgb(110, 118, 125);
}

.wd-for-you-posts-image {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    margin-left: 16px;
}

/*Posts*/
.wd-border {
    padding-top: 12px;
    padding-bottom: 15px;
    border: 0.2px solid rgb(110, 118, 125);
    border-bottom: none;
}

.wd-avatar {
    border-radius: 50%;
    width: 48px;
}

.wd-name {
    margin-left: 12px;
}

.wd-card-border {
    margin-bottom: 0;
    border: solid rgb(47, 51, 54);
    border-radius: 20px;
    background: black;
}

.wd-picture-border-full {
    border: none rgb(47, 51, 54);
    border-bottom-style: solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.wd-picture-border {
    border: none rgb(47, 51, 54);
    border-bottom-style: solid;
    border-radius: 20px;
}

.wd-icons-text {
    text-decoration: none;
    color: rgb(110, 118, 125);
    padding-left: 12px;
    padding-right: 100px;
}

.wd-post-summary-spacing {
    padding-left: 5px;
}

/*Who to follow*/
.wd-username-spacing {
    margin-left: -10px;
}

